<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<div th:each="user : ${users}">
    <a th:href="@{/admin/{id}(id=${user.getId()})}"
       th:text="${'User: ' + user.getUsername() + ' Password: ' + user.getPassword() + ' Role(s): ' + user.getAuthorities()}">user</a>
</div>

<br/>
<hr/>
<a href="/logout">Logout</a>
<br/>
<hr/>
<a href="/admin/registration">Create new user</a>

</body>
</html>