<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<p th:text="${'User: ' + user.getUsername() + ' Password: ' + user.getPassword() + ' Role(s): ' + user.getAuthorities()}">VALUE</p>

<!--<p th:text="${user.getId()}">VALUE</p>-->
<a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Edit user</a>
<br/>
<hr/>
<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete user"/>
</form>
</body>
</html>