<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <title>Title</title>
</head>
<body >


<nav class="navbar navbar-light" style="background-color: #2b2b2b; color: #e3f2fd" >
  <td th:text="${user.email} + ' with roles: '+ ${user.roles}"></td>
  <a href="/logout" class="type-name-link" style="color: darkgray" >Logout</a>
</nav>














<div class="container-fluid" >
  <div class="row">
    <div class="p-0 col-2">
      <div class="nav flex-column nav-pills pt-4"  role="tablist" aria-orientation="vertical">
        <div sec:authorize="hasAuthority('ADMIN')">
          <a class="nav-link active" href="/">Admin</a>
        </div>
        <div sec:authorize="hasAuthority('USER')">
          <a class="nav-link " href="/user">User</a>
        </div>
      </div>
    </div>

    <div class="col-10">
      <div class="container-fluid bg-light">
        <h2 class="display-4"><p><strong>Admin panel</strong></p></h2>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/">Users table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add">New User</a>
          </li>
        </ul>

        <h5 class="card-header bg-white">All users</h5>

        <table class="table table-striped" style="background-color: white">
          <thead>
          <tr style="background-color: white">
            <th>User ID</th>
            <th>Username</th>
            <th>E-mail</th>
            <th>Age</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="user: ${listUsers}">
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.email}">E-mail</td>
            <td th:text="${user.age}">First Name</td>
            <td th:text="${user.roles}">Roles</td>
            <td><button type="button" style="background-color: darkcyan" class="btn btn-secondary" data-toggle="modal" th:data-target="${'#editModal'+ user.id}" ><Edit>Edit</Edit></button></td>
            <td><button type="button" style="background-color: firebrick" class="btn btn-secondary" data-toggle="modal" th:data-target="${'#deleteModal'+ user.id}" >Delete</button></td>




            <div class="modal fade" th:id="${'editModal'+user.id}"  aria-hidden="true">
              <form th:action="@{/update/{id}(id=${user.id})}"
                    th:method="PUT">


              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" >Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body col-md text-center">
                    <div class="mx-auto" style="width: 200px;">


                        <h5><label  class="col-form-label " >Username:</label></h5>
                      <input type="text" class="form-control" th:value="${user.username}" name="username">


                        <h5><label  class="col-form-label " >E-mail:</label></h5>
                      <input type="email" class="form-control" th:value="${user.email}" name="email">


                        <h5><label  class="col-form-label " >Age:</label></h5>
                      <input type="number" class="form-control" th:value="${user.age}" name="age">


                        <h5><label  class="col-form-label " >Password:</label></h5>
                      <input type="password" class="form-control" th:value="${user.password}" name="password">



                    <div class="form-group">
                      <div class="row h-100 justify-content-center align-items-center">
                        <h5><label  class="col-form-label " >Role:</label></h5>
                      </div>
                    </div>
                    <div class="row text-center justify-content-center">
                      <select size="2" multiple aria-label="multiple select example"  name="roles" style="width: 200px; position: relative; left: 50%; margin-left: -100px; ">
                        <option th:each="role: ${listRoles}" th:value="${role.id}" th:text="${role.name}" th:selected="${user.roles.contains(role)}"></option>
                      </select>
                      <hr>
                    </div>

                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                  </div>
                </div>
              </div>
              </form>
            </div>




            <div class="modal fade" th:id="${'deleteModal'+user.id}"  aria-hidden="true">
              <form th:action="@{/delete/{id}(id=${user.id})}" th:method="DELETE">


                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" >Delete user</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body col-md text-center">
                      <div class="mx-auto" style="width: 200px;">


                        <h5><label  class="col-form-label " >Username:</label></h5>
                        <input type="text" class="form-control" th:value="${user.username}" name="username">


                        <h5><label  class="col-form-label " >E-mail:</label></h5>
                        <input type="email" class="form-control" th:value="${user.email}" name="email">


                        <h5><label  class="col-form-label " >Age:</label></h5>
                        <input type="number" class="form-control" th:value="${user.age}" name="age">


                        <h5><label  class="col-form-label " >Password:</label></h5>
                        <input type="password" class="form-control" th:value="${user.password}" name="password">



                        <div class="form-group">
                          <div class="row h-100 justify-content-center align-items-center">
                            <h5><label  class="col-form-label " >Role:</label></h5>
                          </div>
                        </div>
                        <div class="row text-center justify-content-center">
                          <select size="2" multiple aria-label="multiple select example"  name="roles" style="width: 200px; position: relative; left: 50%; margin-left: -100px; ">
                            <option th:each="role: ${listRoles}" th:value="${role.id}" th:text="${role.name}" th:selected="${user.roles.contains(role)}"></option>
                          </select>
                          <hr>
                        </div>

                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" style="background-color: firebrick" class="btn btn-secondary">Delete</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>















<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>